<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ipAddress" value="127.0.0.1"/>
    <add key="exchange" value="KinectData"/>
    <add key="username" value="guest"/>
    <add key="password" value="guest"/>
    <!-- 
      A senderID is a (possibly) unique identifier to indicate which remote
      is sending the data, so that a receiver which cares only about a few
      of them can filter them out.
      
      Notice that we keep a separate sender ID from the sendor ID since the
      SDK may support multiple sensors per machine, like the Kinect 1 SDK did.
    -->
    <add key="senderID" value="defaultRemote"/>
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
