<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="exchange" value="KinectData"/>
    <add key="ipAddress" value="127.0.0.1"/>
    <add key="bodyBindingKey" value="*.body"/>
    <add key="gestureBindingKey" value="*.gesture"/>
    <add key="username" value="guest"/>
    <add key="password" value="guest"/>

  </appSettings>
</configuration>
